.select-major-text {
    line-height: 40px;
    font-size: 1.5rem;
}

.select-major {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: var(--normal-text-size);
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

}

#major-dropdown {
    font-size: 1.25rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}